body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #121212;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  text-align: center;
  width: 320px;
}

.album img {
  width: 250px;
  height: 250px;
  border-radius: 12px;
  margin: 20px 0;
  object-fit: cover;
}

h1 {
  color: #1DB954;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  background: #1DB954;
  border: none;
  color: white;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
}
button:hover {
  background: #1aa34a;
}
